.login-container {
    align-items: center;
    justify-content: space-between;
    margin: 50px 50px;
    align-content: center;
    text-align: center;
}

.login-container section.form {
    width: 75%;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.login-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

form input {
    width: 75%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-bottom: 12px;
}

.back-link {
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}